@import '../../node_modules/normalize.css/normalize.css';
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #000;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input[type=text],
input[type=email],
button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
}

/**
 * Header
 */
.oa-header {
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.25s ease-out;
}
@media only screen and (min-width: 1201px) {
  .oa-header {
    padding: 0 10%;
  }
}
@media only screen and (max-width: 1200px) {
  .oa-header {
    padding: 0 48px;
  }
}
@media only screen and (max-width: 900px) {
  .oa-header {
    padding: 0 32px;
    background-color: #263238;
  }
  .oa-header:before {
    content: "";
    width: 100%;
    height: calc(100vh + 80px);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #263238;
    transition: transform 0.2s cubic-bezier(0.4, 0.3, 0.2, 1), background-color 0.2s ease-out;
    transform: translateY(-100vh);
    will-change: transform;
  }
}

/**
 * Logo
 */
.oa-header a.logo {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 501px) {
  .oa-header a.logo {
    width: 198px;
    height: 46px;
    background-image: url("/assets/images/OA-logo-2x.png");
  }
}
@media only screen and (max-width: 500px) {
  .oa-header a.logo {
    background-image: url("/assets/images/logo.png");
    width: 44px;
    height: 40px;
  }
}

/**
 * Nav Container
 */
.oa-header nav {
  display: flex;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
}

/**
 * Nav Links
 */
.oa-header nav a img {
  width: 18px;
  height: 18px;
}
.oa-header nav a + a {
  margin-left: 20px;
}
@media only screen and (max-width: 500px) {
  .oa-header nav a + a {
    margin-left: 12px;
  }
}

.oa-landing .oa-header {
  background-color: #263238;
}

.oa-landing .oa-hero {
  min-height: calc(100vh - 80px);
  display: flex;
  background-image: url("../assets/images/OA Hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.oa-landing .oa-hero .oa-hero-content {
  color: #FFF;
  display: flex;
  flex-direction: column;
}
.oa-landing .oa-hero h1, .oa-landing .oa-hero p {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.oa-landing .oa-hero button {
  position: relative;
  border-radius: 8px;
  text-transform: uppercase;
  border: 3px solid #FFF;
  background-color: rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  padding: 0 24px;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}
.oa-landing .oa-hero a button {
  background-color: #FFF;
  color: #000;
}
@media only screen and (max-width: 768px) {
  .oa-landing .oa-hero {
    flex-direction: column;
    justify-content: center;
  }
  .oa-landing .oa-hero .oa-hero-content {
    padding: 24px 48px;
    justify-content: center;
  }
  .oa-landing .oa-hero .oa-hero-content-image {
    display: none;
  }
  .oa-landing .oa-hero .oa-hero-content-buttons {
    width: 212px;
    margin: 64px auto 0 auto;
    position: relative;
    z-index: 3;
  }
  .oa-landing .oa-hero h1 {
    font-size: 2.8em;
    margin-bottom: 32px;
  }
  .oa-landing .oa-hero p {
    font-size: 1.1em;
  }
  .oa-landing .oa-hero button {
    width: 212px;
    height: 46px;
    font-size: 1.1em;
  }
  .oa-landing .oa-hero a + button {
    margin-top: 24px;
  }
}
@media only screen and (min-width: 769px) {
  .oa-landing .oa-hero {
    align-items: center;
    padding: 0 12%;
  }
  .oa-landing .oa-hero .oa-hero-content {
    max-width: 700px;
  }
  .oa-landing .oa-hero .oa-hero-content-image {
    min-height: 340px;
    background-image: url("../assets/images/macbook-1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .oa-landing .oa-hero h1 {
    font-size: 5em;
    margin-bottom: 18px;
  }
  .oa-landing .oa-hero p {
    font-size: 1.5em;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
  }
  .oa-landing .oa-hero .oa-hero-content-buttons {
    margin-top: 64px;
  }
  .oa-landing .oa-hero button {
    width: 240px;
    height: 54px;
    font-size: 1.3em;
  }
  .oa-landing .oa-hero a + button {
    margin-left: 24px;
  }
}

.oa-landing .oa-learn-more {
  display: flex;
  flex-direction: column;
  background-color: #1c252a;
  position: relative;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  background-image: url("../assets/images/macbook.png");
  background-repeat: no-repeat;
}
.oa-landing .oa-learn-more:after {
  content: "";
  background-image: linear-gradient(to bottom, transparent, #263238);
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 240px;
  z-index: 1;
}
.oa-landing .oa-learn-more .oa-learn-more-content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.oa-landing .oa-learn-more .oa-learn-more-content p {
  line-height: 1.4em;
}
@media only screen and (min-width: 1001px) {
  .oa-landing .oa-learn-more {
    min-height: 30vw;
    background-size: 65vw auto;
    background-position: -10vw center;
  }
  .oa-landing .oa-learn-more p {
    font-size: 1.5em;
    max-width: 500px;
  }
  .oa-landing .oa-learn-more .oa-learn-more-content {
    padding: 48px 8% 0 8%;
    flex: 1 0 auto;
  }
}
@media only screen and (max-width: 1000px) {
  .oa-landing .oa-learn-more {
    min-height: 40vh;
    background-size: 80vw auto;
    background-position: -18vw center;
  }
  .oa-landing .oa-learn-more p {
    font-size: 1.2em;
    max-width: 400px;
  }
  .oa-landing .oa-learn-more .oa-learn-more-content {
    padding: 48px 32px 0 32px;
    flex: 1 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .oa-landing .oa-learn-more {
    background-size: 150vw;
    background-position: -20vw -40vw;
    justify-content: flex-end;
    min-height: 60vh;
  }
  .oa-landing .oa-learn-more p {
    max-width: none;
    position: relative;
    top: 32px;
    font-size: 1.1em;
  }
  .oa-landing .oa-learn-more .oa-learn-more-content {
    background-color: #263238;
    justify-content: center;
    flex: 0 0 auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 24px 48px;
  }
  .oa-landing .oa-learn-more .oa-learn-more-content:before {
    content: "";
    background-image: linear-gradient(to top, #263238, transparent);
    position: absolute;
    left: 0;
    right: 0;
    top: -118px;
    height: 120px;
  }
  .oa-landing .oa-learn-more:after {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .oa-landing .oa-learn-more {
    background-size: 164vw;
    background-position: -32vw -40vw;
    min-height: 85vh;
  }
  .oa-landing .oa-learn-more .oa-learn-more-content {
    padding: 18px 24px;
  }
}

.oa-landing .oa-mailing-list {
  min-height: 44vh;
  background-color: #263238;
  display: flex;
  justify-content: center;
}
.oa-landing .oa-mailing-list .oa-mailing-list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  position: relative;
}
.oa-landing .oa-mailing-list p {
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
}
.oa-landing .oa-mailing-list .input-container {
  width: 500px;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .oa-landing .oa-mailing-list .input-container {
    width: 100%;
  }
}
.oa-landing .oa-mailing-list input {
  height: 46px;
  padding: 0 24px;
  box-sizing: border-box;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #263238;
  flex: 1 0 auto;
}
.oa-landing .oa-mailing-list button {
  flex: 0 1 100px;
  height: 46px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 0.9em;
  background-color: #f8b101;
  cursor: pointer;
}
.oa-landing .oa-mailing-list span.error {
  color: #F00;
  height: 18px;
  font-size: 0.8em;
}
@media only screen and (min-width: 769px) {
  .oa-landing .oa-mailing-list {
    font-size: 1.25em;
  }
  .oa-landing .oa-mailing-list .input-container {
    margin: 48px 0;
  }
}
@media only screen and (max-width: 768px) {
  .oa-landing .oa-mailing-list {
    font-size: 1.1em;
    padding: 0 32px;
  }
  .oa-landing .oa-mailing-list .input-container {
    margin: 24px 0;
  }
}
@media only screen and (max-width: 600px) {
  .oa-landing .oa-mailing-list {
    padding: 0 24px;
    text-align: center;
  }
}

.oa-landing .oa-activities {
  position: relative;
  background-color: #FFF;
}

.oa-landing .oa-activity {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .oa-landing .oa-activity {
    flex-direction: column;
  }
}

.oa-landing .oa-activity-image {
  min-width: 50%;
  flex: 0 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media only screen and (min-width: 769px) {
  .oa-landing .oa-activity-image {
    min-height: 35vw;
  }
}
@media only screen and (max-width: 768px) {
  .oa-landing .oa-activity-image {
    min-height: 40vw;
  }
}
@media only screen and (max-width: 600px) {
  .oa-landing .oa-activity-image {
    min-height: 70vw;
  }
}

.oa-landing .oa-activity-content {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: right;
  padding: 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.oa-landing .oa-activity-content h2 {
  color: #263238;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.6em;
  margin-bottom: 12px;
}
.oa-landing .oa-activity-content p {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: #263238;
  font-size: 1.3em;
}
@media only screen and (max-width: 1000px) {
  .oa-landing .oa-activity-content {
    font-size: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .oa-landing .oa-activity-content {
    justify-content: flex-start;
    text-align: left;
    width: 60%;
    max-width: none;
    padding: 48px 32px;
  }
}
@media only screen and (max-width: 600px) {
  .oa-landing .oa-activity-content {
    width: 75%;
  }
  .oa-landing .oa-activity-content h2 {
    font-size: 2.2em;
  }
}

.oa-landing .oa-activity + .oa-activity .oa-activity-content:before {
  content: "";
  width: 80%;
  height: 2px;
  background-color: #EAEAEA;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -1px;
}
@media only screen and (max-width: 768px) {
  .oa-landing .oa-activity + .oa-activity .oa-activity-content:before {
    display: none;
  }
}

.oa-landing footer {
  background-color: #006838;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (min-width: 769px) {
  .oa-landing footer {
    height: 100px;
    font-size: 1.35em;
  }
}
@media only screen and (max-width: 768px) {
  .oa-landing footer {
    height: 80px;
    font-size: 1.1em;
  }
}

/**
 * IE 11 specific fixes
 */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .oa-landing .oa-hero .oa-hero-content {
    position: relative;
    top: calc(50vh - 40px);
    transform: translateY(-50%);
  }

  .oa-landing .oa-learn-more .oa-learn-more-content {
    margin-top: 48px;
  }
}
