
$curve: cubic-bezier(0.4, 0.3, 0.2, 1);

@mixin queryWidth ($minOrMax, $val) {
  @media only screen and (#{$minOrMax}-width: $val) {
      @content;
  }
}

@mixin queryHeight ($minOrMax, $val) {
  @media only screen and (#{$minOrMax}-height: $val) {
      @content;
  }
}

$headerHeight: 80px;

$layerNavWidthDesktop: 386px;
$layerNavTargetSizeDesktop: 64px;

$layerNavWidthMobile: 100vw;
$layerNavTargetSizeMobile: 56px;