@import '../../node_modules/normalize.css/normalize.css';

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: #000;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

input[type="text"],
input[type="email"],
button {
	outline: none;
	border: none;
}

a {
	text-decoration: none;
	color: inherit;
}

ul, li {
	margin: 0;
	padding: 0;
}