/**
 * Header
 */

.oa-header {
	width: 100%;
	height: $headerHeight;
	position: relative;
	z-index: 2;
	box-sizing: border-box;	
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: background-color 0.25s ease-out;

	@include queryWidth(min, 1201px) {
		padding: 0 10%;
	}

	@include queryWidth(max, 1200px) {
		padding: 0 48px;
	}

	@include queryWidth(max, 900px) {
		padding: 0 32px;
		background-color: $gray;

		// mobile header background
		&:before {
			content: '';
			width: 100%;
			height: calc(100vh + 80px);
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: $gray;
			transition: transform 0.2s $curve, background-color 0.2s ease-out;
			transform: translateY(-100vh);
			will-change: transform;
		}
	}
}


/**
 * Logo
 */

.oa-header a.logo {
	background-repeat: no-repeat;
	background-size: cover;
 	position: relative;
 	z-index: 2;

 	@include queryWidth(min, 501px) {
		width: 198px;
		height: 46px;
		background-image: url('/assets/images/OA-logo-2x.png');
 	}

 	@include queryWidth(max, 500px) {
 		background-image: url('/assets/images/logo.png');
 		width: 44px;
 		height: 40px;
 	}
}


/**
 * Nav Container
 */

.oa-header nav {
	display: flex;
	position: relative;
	z-index: 2;
	box-sizing: border-box;
}

/**
 * Nav Links
 */

.oa-header nav a {

	img {
		width: 18px;
		height: 18px;
	}

	& + a {
		margin-left: 20px;
	}

	@include queryWidth(max, 500px) {
		& + a {
			margin-left: 12px;
		}
	}
}