/**
 * Header
 */

.oa-header {
	width: 100%;
	height: $headerHeight;
	position: relative;
	z-index: 2;
	box-sizing: border-box;	
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: background-color 0.25s ease-out;

	@include queryWidth(min, 1201px) {
		padding: 0 10%;
	}

	@include queryWidth(max, 1200px) {
		padding: 0 48px;
	}

	@include queryWidth(max, 900px) {
		padding: 0 32px;
		background-color: $gray;

		// mobile header background
		&:before {
			content: '';
			width: 100%;
			height: calc(100vh + 80px);
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: $gray;
			transition: transform 0.2s $curve, background-color 0.2s ease-out;
			transform: translateY(-100vh);
			will-change: transform;
		}
	}
}

/**
 * Logo
 */

 .oa-header > a img {
 	height: 46px;
 	position: relative;
 	z-index: 2;
 }

/**
 * Nav Container
 */

.oa-header nav {
	display: flex;
	position: relative;
	z-index: 2;
	box-sizing: border-box;

	@include queryWidth(max, 900px) {
		width: 100%;
		position: absolute;
		right: 0;
		top: $headerHeight;
		height: calc(100vh - #{$headerHeight});
		flex-direction: column;
	 	align-items: flex-end;
	 	padding: 32px;
	 	pointer-events: none;
	}
}

/**
 * Nav Links
 */

.oa-header nav a {
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	color: $lightestGray;
	transition: color 0.15s ease-out, opacity 0.15s ease-out, transform 0.15s $curve 0.15s;

	&.active,
	&:hover {
		color: #FFF;
	}

	&:last-child {
		color: $lightGreen;
	}

	& + a {
		@include queryWidth(min, 901px) {
			margin-left: 32px;
		}
		@include queryWidth(max, 900px) {
			margin-top: 36px;
		}
	}

	@include queryWidth(max, 900px) {
		opacity: 0;
		transform: translateX(8px);
	}
}

/**
 * Menu click target
 */

.oa-header .oa-menu-target {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	z-index: 2;

	@include queryWidth(min, 901px) {
		display: none;
	}
}

/**
 * Active menu state
 */

@include queryWidth(max, 900px) {
	.oa-header.oa-menu-active {
		position:fixed;
		top: 0;
		left: 0;

		// translate content down because header is now position fixed
		& + * {
			transform: translateY($headerHeight);
		}

		&:before {
			transform: translateY(0);
			background-color: $darkestGray;
		}

		nav {
			pointer-events: all;
		}

		nav a {
			opacity: 1;
			transform: translateX(0);
			transition-delay: 0.2s;
		}
	}
}
